.projectComponent-container img {
    width: 100%;
}

.projectTitle {
    font-weight: 700;
    font-size: 60px;
    margin: 0;
    padding-bottom: 46px;
}

.projectTitle span {
    position: relative;
    top: -0.5rem;
    padding-left: 0.375rem;
    font-weight: 600;
    font-size: 24px;
}

.projectDescription {
    margin: 0;
    font-size: 16px;
    align-content: end;
}

.sliderFooter-container {
    padding: 4.5rem 0 4.375rem 0;
    display: flex;
    justify-content: space-between;
}

.sliderFooter-container div {
    display: flex;
    cursor: pointer;
}

.sliderFooter-container span {
    font-weight: 700;
    font-size: 24px;
    text-decoration: underline;
    text-underline-position: under;
    padding: 0 1rem;
}