.checkout-container {
    display: grid;
    grid-template-columns: 41.5% 49.5%;
    gap: 105px;
}

.checkout-container .title {
    font-weight: 700;
    margin: 0;
    font-size: 24px;
    padding-bottom: 16px;
}

.checkout-container .addComment-container .title {
    padding-bottom: 12px;
}

.checkout-container .contact-container,
.checkout-container .delivery-container {
    padding-bottom: 24px;
}

.checkout-container .contact-container .nameFields-container {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 16px;
}

.checkout-container form.checkout-form {
    margin: 0;
}

.checkout-container form.checkout-form input.field,
.checkout-container form.checkout-form textarea {
    width: 100%;
    border: 1px solid #A4A2A2;
    font-family: 'Inter';
    font-size: 14px;
    padding: 12px;
}

form.checkout-form .form-group {
    padding-bottom: 16px;
}

form.checkout-form .emailMeCheckbox-container {
    display: flex;
    height: 24px;
    align-items: center;
}

form.checkout-form .emailMeCheckbox-container input.checkbox {
    width: 16px;
    height: 16px;
    margin: 0 6px 0 4px;
    outline: none;
    cursor: pointer;
}

form.checkout-form .emailMeCheckbox-container label {
    font-size: 14px;
}


.checkout-container .delivery-container .deliveryOptions-container {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 16px;
    font-weight: 600;
}

.checkout-container .delivery-container .deliveryOptions-container input.checkbox,
.checkout-container .payment-container input.checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid #3A3A3A;
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin: 4px 10px 4px 4px;
}

.option input[type="checkbox"],
.option input[type="radio"] {
    display: none;
}

.circle-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid #3A3A3A;
    border-radius: 50%;
    margin-right: 10px;
    display: block;
    position: relative;
}

.option input[type="checkbox"]:checked + .circle-checkbox::before,
.option input[type="radio"]:checked + .circle-checkbox::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #3A3A3A;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.option {
    display: inline-flex;
    align-items: center;
}

.checkout-container .addComment-container {
    padding-bottom: 32px;
}
.checkout-container .addComment-container textarea {
    width: 486px;
    height: 160px;
    resize: none;
}

.checkout-container .payment-container {
    font-size: 14px;
    font-weight: 600;
}

.checkout-container form.checkout-form .placeOrderBtn-container {
    padding-top: 32px;
    padding-bottom: 220px;
}

.checkout-container form.checkout-form .placeOrderBtn-container button {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-decoration: underline;
    padding: 12px;
    border: none;
    background: black;
}

.checkout-container .right {
    font-size: 16px;
}

.checkout-container .right .productCheckout-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.checkout-container .right .productCheckout-container img {
    width: 100%;
}

.checkout-container .right .productCheckout-container .info-container {
    display: flex;
    flex-direction: column;
}

.checkout-container .right .productCheckout-container .info-container .productTitle {
    font-size: 20PX;
    font-weight: 700;
    margin: 0;
}

.checkout-container .right .productCheckout-container .info-container .infoFooter-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.checkout-container .right .productCheckout-container .info-container .infoFooter-container .price {
    font-weight: 700;
}

.checkout-container .right .productCheckoutSummary-container {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checkout-container .right .productCheckoutSummary-container > div {
    display: flex;
    justify-content: space-between;
}

.checkout-container .right .productCheckoutSummary-container .total {
    font-size: 18px;
    font-weight: 700;
}

.checkout-container .right .productCheckoutSummary-container .total .currencyAmount {
    display: flex;
    gap: 4px;
    align-items: center;
}

.checkout-container .right .productCheckoutSummary-container .total .currencyAmount span {
    font-size: 14px;
    font-weight: 400;
    color: #BBBBBB;
}