.homepageImg {
    width: 100%; 
    height: auto;
    object-fit: cover; 
    object-position: center; 
}

.homepageImg-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent-container {
    padding: 0 46px;
}


.homepageTitle {
    font-size: 135px;
    line-height: 181.53px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 4rem;
}

.homepageInfo-container, .homepageCategories-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

.homepageInfoLeft {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.homepageInfoRight ul, .CategoriesRight-homepage ul { 
    list-style: none;  
    padding: 0;
}
.homepageInfoRight li { 
    font-weight: 600;
    font-size: 28px;
    padding-bottom: .75rem;
}

.homepageInfoRight div ul.dropdownList span {
    text-decoration-line: underline;
    cursor: pointer;
}
.homepageInfoRight div ul.dropdownList div {
    font-weight: 400;
    font-size: 24px;
    padding: 16px 0 24px 0;
}

.blockTitle {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 2rem;
}

.shopBlockImage-container {
    display: flex;
    gap: 2rem;
}

.shopBlockImage-container img {
    height: 586px;
}

.goToShopArrow {
    padding: 3rem 0 4rem 0;
}

.CategoriesLeft-homepage {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
}

.CategoriesRight-homepage p {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 48.41px;
}

.CategoriesRight-homepage li{
    text-decoration-line: underline;
    cursor: pointer;
    padding-bottom: .75rem;
}

.projectsInner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projectsInner-container img {
    width: 100%;
}

.projectsInnerLeft {
    padding-bottom: 4rem;
}

.projectsInnerLeft h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29.05px;
    text-decoration: underline;
    margin-bottom: 0;
}
.projectsInnerLeft p {
    font-size: 20px;
    line-height: 24.2px;
    margin: .75rem 0;
}

.projectsInnerRight {
    display: flex;
    align-items: flex-end;
}

.projectsInnerRight .projectSmallCard {
    padding-left: 2.5rem;
}

.projectsInnerRight p {
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    height: 1.75rem;
}

.vievAllProjectsLink {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    text-align: end;
    margin: 4rem 0 6rem 0;
}

.cooperationBlock .blockTitle {
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 1rem;
}

.cooperationBlock .emailContainer {
    width: fit-content;
    border: 4px solid black;
    border-radius: 50%;
    padding: 1.25rem 1rem;
}

.cooperationBlock .emailContainer span {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
