.soapHolders-container {
    display: flex;
    gap: 46px;
    flex-direction: column;
}

.soapHolders-container .top {
    display: grid;
    grid-template-columns: 413px 319px;
    gap: 46px;
}


.soapHolders-container .bottom {
    display: grid;
    grid-template-columns: 322px 594px;
    gap: 46px;
    justify-content: end;
}