.languageCurrency-container {
    cursor: pointer;
}

.languageCurrency-container .language{
    border-bottom: 1px solid;
}

.languageCurrency-container div {
    line-height: 19px;
    text-align: center;
}