.languageCurrency-container {
    cursor: pointer;
}

.languageCurrency-container .language{
    border-bottom: 1px solid black;
}

.languageCurrency-container div {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}