.languageCurrency-container {
    cursor: pointer;
}

.languageCurrency-container div {
    line-height: 20px;
    text-align: center;
}

.languageCurrency-container .language{
    border-bottom: 1px solid;
}
