header {
    padding: 48px 46px;
}

.headerAbsolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container div {
    width: 100%;
}

.textCenter {
    text-align: center;
}

.textEnd {
    text-align: end;
}

.burgerMenuButton {
    background: none;
    border: none;
}


.sidebarMenu {
    display: flex;
    position: fixed;
    top: 0;
    right: -430px; 
    max-height: 100vh;
    width: 430px;
    height: 700px;
    background-color: #fff;
    transition: right 0.3s ease;
    z-index: 1000;
}
  

.sidebarMenu-container {
    flex: 1;
    padding: 3.5rem 3rem 2rem 3rem;
    display: flex;
    flex-direction: column;
}
.sidebarMenu.open {
    right: 0; 
}

  
.menuLinks { 
    list-style: none;  
    text-align: right;
    padding: 1.5rem;
}

.menuLinks li{ 
    font-weight: 700;
    font-size: 26px;
    text-decoration-line: underline;
    padding-bottom: .75rem;
}

.menuLinks a {
    color: black; 
    text-decoration: none; 
    transition: none;
  }
  
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    
}

.menuFooter {
    align-content: end;
    flex: 1;
}

.menuFooter ul { 
    list-style: none;  
    padding: 0;
    margin: 0;
}

.menuFooter ul li{ 
    font-weight: 500;
    font-size: 16px;
    text-decoration-line: underline;
    padding-bottom: .375rem;
}


.menuFooter-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.menuFooter-container .languageCurrency-container .language{
    border-bottom: 1px solid black;
}

.menuFooter-container .languageCurrency-container div {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}