.thankYou-container {
    padding: 224px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.thankYou-container .title {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.thankYou-container .info {
    font-weight: 400;
    font-size: 14px;
}

.thankYou-container .mainPageLink {
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
}

.thankYou-container .mainPageLink a {
    color: black;
}