.chokers-container {
    display: grid;
    grid-template-columns: 50% 46%;
    gap: 46px;
}

.chokers-container .left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.chokers-container .right {
    display: flex;
    flex-direction: column;
    gap: 46px;
}